<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
</head>
<body>

<form id="addproject">
    <fieldset id="fields">
        <label for="project">Project: </label><input type="text" id="project" list="W2plist"/>
        <datalist id="W2plist"></datalist>

    </fieldset>
    <button id="submit" type="submit" class="mod-primary">Add</button>
    <p id="error" style="color: red;"></p>
</form>

<script>
    var settings = require('./config.js');
    var t = TrelloPowerUp.iframe();
    var Promise = TrelloPowerUp.Promise;

    document.getElementById("addproject").addEventListener('submit', function(event){
        event.preventDefault();



        var project = document.getElementById("project").value;

        if (project == "") {
            document.getElementById("error").value = "Please fill in a project";
            document.getElementById("submit").disabled = false;
            return false;
        }

        else {
            document.getElementById("error").value = "";
            document.getElementById("submit").disabled = true;
            document.getElementById("submit").value = "Processing...";

            var options = document.querySelectorAll('#W2plist option');
            var pid;
            for (var i = 0 ; i < options.length ; i++){
                if (options[i].value == project){
                    pid = options[i].getAttribute('pid');
                    break;
                }
            }
            //console.log("Context: " + t.getContext().card);

            var project_data = {
                "pid" : { "value" : pid},
                "week" : {"value" : "2000-01-01"}
            };

            return t.set('card', 'shared', 'project', project_data)
                .then(function(){
                    t.closePopup();
                });
        }
    });


    t.render(function(){
        /*return t.get('board', 'shared', 'settings', '')
            .then(function(settings) {
                return getProjects(settings.apitoken);
            })*/
            return getProjects(settings.apitoken)
            .then(function (projects) {
                //console.log(projects);
                var dataList = document.getElementById('W2plist');

                for (var i in projects) {
                    var option = document.createElement('option');
                    option.value = projects[i].project_name + " (" + projects[i].company_name + ")";
                    option.setAttribute("pid", projects[i].pid);
                    dataList.appendChild(option);
                }

                t.sizeTo('#addproject').done();
            });
    });


    function getProjects(apitoken){
        return new Promise(function (resolve, reject) {
            var xmlhttp = new XMLHttpRequest();
            var projects = {};
            xmlhttp.open("GET", 'https://reports.atmi.re/projects');
            xmlhttp.onload = function () {
                if (this.status >= 200 && this.status < 300) {
                    var projects = JSON.parse(xmlhttp.responseText);
                    resolve(projects);

                } 
            };
            xmlhttp.setRequestHeader('Authorization', 'Bearer ' + apitoken);
            xmlhttp.send();
        });
    }

</script>
</body>
</html>