<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
</head>
<body>

<form id="settings">
    <fieldset id="fields">
        <input type="text" id="pm" />
        <label for="pm">PM: </label>

        <input type="text" id="username" />
        <label for="username">W2P username: </label>

        <input type="password" id="password" />
        <label for="password">W2P password: </label>

        <input type="text" id="ttoken" />
        <label for="ttoken">Trello token: </label>

        <input type="text" id="tkey" />
        <label for="tkey">Trello key: </label>

    </fieldset>
    <button type="submit" class="mod-primary">Save</button>
    <p id="error" style="color: red;"></p>
</form>

<script>
    var t = TrelloPowerUp.iframe();
    var Promise = TrelloPowerUp.Promise;

    document.getElementById("settings").addEventListener('submit', function(event){
        event.preventDefault();



        var pm = document.getElementById("pm").value;
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var ttoken = document.getElementById("ttoken").value;
        var tkey = document.getElementById("tkey").value;

        if ((pm == "") || (username == "") || (password == "") || (ttoken == "") || (tkey == "")) {
            document.getElementById("error").value = "All fields are mandatory";
            return false;
        }

        else {
            document.getElementById("error").value = "";
            var settings = {
                "pm" : pm,
                "username" : username,
                "password" : password,
                "ttoken" : ttoken,
                "tkey" : tkey
            };

            return t.set('board', 'private', 'settings',  settings)
            .then(function(){
                t.closePopup();
            });
        }
    });


    t.render(function(){
      return t.get('board', 'shared', 'settings', '')
      .then(function(settings){

        var hasSettings = (settings != '' && settings.username && settings.password && settings.pm && settings.ttoken && settings.tkey);

        if (hasSettings) {
            document.getElementById("pm").value = settings.pm;
            document.getElementById("username").value = settings.username;
            document.getElementById("password").value = settings.password;
            document.getElementById("ttoken").value = settings.ttoken;
            document.getElementById("tkey").value = settings.tkey;
        }

      })
      .then(function(){
           t.sizeTo('#settings').done();
      });
    });
</script>
</body>
</html>