<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
</head>
<body>

<form id="settings">
    <fieldset id="fields">
        <label for="pm">PM: </label><input type="text" id="pm" />

        <label for="username">W2P username: </label><input type="text" id="username" />

        <label for="password">W2P password: </label><input type="password" id="password" />

        <label for="ttoken">Trello token: </label><input type="text" id="ttoken" />

        <label for="tkey">Trello key: </label><input type="text" id="tkey" />

        <input type="hidden" id="labels" />

    </fieldset>
    <button type="submit" class="mod-primary" id="sendform">Save</button>
    <p id="error" style="color: red;"></p>
</form>

<script>
    var t = TrelloPowerUp.iframe();
    var Promise = TrelloPowerUp.Promise;

    document.getElementById("settings").addEventListener('submit', function(event){
        document.getElementById("sendform").disabled = true;
        event.preventDefault();



        var pm = document.getElementById("pm").value;
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var ttoken = document.getElementById("ttoken").value;
        var tkey = document.getElementById("tkey").value;
        var hasLabels = (document.getElementById("labels").value == "yes");

        if ((pm == "") || (username == "") || (password == "") || (ttoken == "") || (tkey == "")) {
            document.getElementById("error").value = "All fields are mandatory";
            return false;
        }

        else {
            document.getElementById("error").value = "";
            var settings = {
                "pm": pm,
                "username": username,
                "password": password,
                "ttoken": ttoken,
                "tkey": tkey
            };
        }

        if (!hasLabels) {

            var labels = createLabels((t.getContext()).board, settings.ttoken, settings.tkey);

            return Promise.all([t.set('board', 'private', 'labels', labels), t.set('board', 'private', 'settings', settings)])
                .then(function (){
                    t.closePopup();
                })
        }

        else {
            return t.set('board', 'private', 'settings', settings)
                .then(function () {
                    t.closePopup();
                });
        }
    });


    t.render(function(){
      return t.get('board', 'private')
      .then(function(boarddata){

          console.log(boarddata);
          var settings = boarddata.settings;
        var hasSettings = (settings != '' && settings.username && settings.password && settings.pm && settings.ttoken && settings.tkey);
        var hasLabels = (boarddata.labels && boarddata.labels != '');

        if (hasSettings) {
            document.getElementById("pm").value = settings.pm;
            document.getElementById("username").value = settings.username;
            document.getElementById("password").value = settings.password;
            document.getElementById("ttoken").value = settings.ttoken;
            document.getElementById("tkey").value = settings.tkey;
        }

        if (hasLabels) {
            document.getElementById("labels").value = "yes";
        }

        })
        .then(function(){
           t.sizeTo('#settings').done();
        });
    });


    function createLabels(board, token, key) {

        var labels = {
            "Quote": {color:"green"},
            "Fixed Price Project": {color:"blue"},
            "Module installation": {color:"blue"},
            "Training": {color:"lime"},
            "Internal": {color:"lime"},
            "SLA": {color:"sky"},
            "Other": {color:"purple"},
            "Date changed": {color:"orange"},
            "Billable changed": {color:"orange"},
            "Budget risk": {color:"red"},
            "Timeline risk": {color:"red"},
            "Outdated": {color:"red"},
            "Date missing": {color:"red"},
            "Not found": {color:"black"},
            "TBD": {color:null}
        };

        for (var label in labels) {
            var request = new XMLHttpRequest();

            request.open("POST", "https://api.trello.com/1/boards/"+board+"/labels?name="+label+"&color="+labels[label].color+"&key="+key+"&token="+token, false);
            request.send();

            if (request.status != 200) return false;

            var l = JSON.parse(request.responseText);
            labels[label].id = l.id;
        }

        return labels;
    }
</script>
</body>
</html>