<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
</head>
<body>

<form id="addtracker">
    <fieldset id="fields">
        <label for="tracker">Tracker: </label><input type="text" id="tracker" list="trackerlist"/>
        <datalist id="trackerlist"></datalist>

    </fieldset>
    <button id="submit" type="submit" class="mod-primary">Add</button>
    <p id="error" style="color: red;"></p>
</form>

<script>
    var t = TrelloPowerUp.iframe();
    var Promise = TrelloPowerUp.Promise;

    document.getElementById("addtracker").addEventListener('submit', function(event){
        event.preventDefault();



        var tracker = document.getElementById("tracker").value;

        if (tracker == "") {
            document.getElementById("error").value = "Please fill in a tracker";
            document.getElementById("submit").disabled = false;
            return false;
        }

        else {
            document.getElementById("error").value = "";
            document.getElementById("submit").disabled = true;
            document.getElementById("submit").value = "Processing...";

            var options = document.querySelectorAll('#trackerlist option');
            var tracker_id;
            for (var i = 0 ; i < options.length ; i++){
                if (options[i].value == tracker){
                    tracker_id = options[i].getAttribute('trackername');
                    break;
                }
            }
            //console.log("Context: " + t.getContext().card);

            var card_data = {
                tracker : tracker_id
            }
            return t.set('card', 'shared', 'sla', card_data)
                .then(function(){
                    t.closePopup();
                });
        }
    });


    t.render(function(){
        return getUnmappedTrackers()
            .then(function (trackers) {
                console.log(trackers);
                var dataList = document.getElementById('trackerlist');

                for (var i = 0 ; i < trackers.length ; i++) {
                    var option = document.createElement('option');
                    option.value = trackers[i].name;
                    option.setAttribute("trackername", trackers[i].link);
                    dataList.appendChild(option);
                }

                t.sizeTo('#addtracker').done();
            });
    });

    function getUnmappedTrackers(){
        return new Promise(function (resolve, reject){
            var url = 'http://reports.atmi.re/slas/unmapped';
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", url);
            xmlhttp.onload = function () {
                if (this.status >= 200 && this.status < 300) {
                    var trackers = JSON.parse(xmlhttp.responseText);
                    resolve(trackers);
                }
            };
            xmlhttp.send();
        });
    }




</script>
</body>
</html>