<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
</head>
<body id="slasection">
<div id="consumption_table">

</div>
<div>
    <p>In case some credits were charged for projects that have been managed as separate fixed price projects, enter the corresponding amount of credits here.</p>
    <div>
        <form id="add_credits">
            <table id="fixed_price_projects"></table>
            <input type="hidden" id="old_projects" /></td>
        </form>
    </div>

</div>

<div>
    <p id="error" style="color: red;"></p>
</div>

<script>
    var t = TrelloPowerUp.iframe();
    var Promise = TrelloPowerUp.Promise;


    document.getElementById("add_credits").addEventListener('submit', function(event){
        document.getElementById("sendcreditsform").innerHTML = "Please wait...";
        document.getElementById("sendcreditsform").disabled = true;

        event.preventDefault();

        var credits = document.getElementById("fixed_price_credits").value;
        var project_label = document.getElementById("fixed_price_label").value;
        var old_projects = JSON.parse(document.getElementById("old_projects").value);

        if (credits == "" || project_label == "") document.getElementById("error").value = "Both fields are mandatory";
        else document.getElementById("error").value = "";

        old_projects.push([{label: project_label, credits: credits}]);

        return t.set(t.getContext().card, 'shared', 'sla_projects', old_projects);

    });


    t.render(function(){
        console.log("rendering");

        return t.getAll()
          .then(function(data){
              return Promise.all(getCreditsCount(data.card.shared.sla.tracker), data.card.shared.sla_projects);
          })
          .then(function(sladata){
              var tracker_details = sladata[0];
              var projects_list = sladata[1];

              document.getElementById("old_projects").value = JSON.stringify(projects_list);

              var projects_html = "  <tr>" +
                  "    <th>Project</th>" +
                  "    <th>Credits</th> " +
                  "    <th></th>" +
                  "  </tr>";

              for (var project in projects_list){
                  projects_html += "<tr><td>" + projects_list[project].label + "</td><td>" + projects_list[project].credits + "credits</td><td></td><td></td></tr>";
              }

              projects_html += "<tr>" +
                  "<td><input type=\"text\" id=\"fixed_price_credits\" /></td>" +
                  "<td><input type=\"text\" id=\"fixed_price_label\" /></td>" +
                  "<td><button type=\"submit\" class=\"mod-primary\" id=\"sendcreditsform\">Discard credits</button></td>" +
                  "</tr>";

              document.getElementById("fixed_price_projects").innerHTML = projects_html;

              console.log(projects_html);

              return true;
          })
    });

    function getCreditsCount(tracker) {
        return new Promise(function (resolve, reject) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "https://script.google.com/macros/s/AKfycbwAd7QSzVkRIxni-pv30PDjJYH-Zzp2X7PPuvJBSST3p3LmJs3B/exec?tracker=" + tracker);
            xmlhttp.onload = function () {
                if (this.status >= 200 && this.status < 300) {
                    var response = JSON.parse(xmlhttp.responseText);
                    console.log(response[tracker]);

                    resolve(response[tracker]);
                    //resolve(JSON.parse(xmlhttp.responseText));
                }
            };
            xmlhttp.send();
        });
    }
</script>
</body>
</html>